<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dobby.mzdict.mapper.UserMapper">
    <resultMap id="UserResultMap" type="com.dobby.mzdict.vo.UserVO">
        <result property="userId" column="user_id" />
        <result property="userEmail" column="user_email" />
        <result property="userNickName" column="nickname" />
        <result property="passWord" column="password" />
        <result property="createTime" column="created_at" />
        <result property="updateTime" column="updated_at" />
    </resultMap>

    <select id="getUser" resultMap="UserResultMap">
        select *
        from user
        where id = #{userId}
    </select>

    <select id="getUsers" resultMap="UserResultMap">
        select *
        from user
    </select>

    <select id="getUserByUserId" resultMap="UserResultMap">
        select *
        from user
        where user_id = #{userId}
    </select>

    <insert id="addUser" parameterType="com.dobby.mzdict.vo.UserVO">
        insert into user (user_id, user_email, password, nickname, created_at, updated_at)
        values (#{userId}, #{userEmail}, #{passWord}, #{userNickName}, #{createTime}, #{updateTime})
    </insert>
</mapper>